<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGFqnezC4w8c2Nr2aslA8uAy1nrMAPukY</string>
	<key>GCM_SENDER_ID</key>
	<string>93038087649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.dua</string>
	<key>PROJECT_ID</key>
	<string>my-dua-mehdi</string>
	<key>STORAGE_BUCKET</key>
	<string>my-dua-mehdi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93038087649:ios:fe8b9e58f4593ed11c16a0</string>
</dict>
</plist>